<footer>
    <div class="row">
        <div class="large-8 medium-12 columns">
            <p>
                <strong>© 2013 - 2015 modmore</strong>, a brand by <a href="https://www.markhamstra.com/" title="Mark Hamstra Web Development">Mark Hamstra</a> 
                • Designed by <a href="http://chsmedien.com/?pk_campaign=modmore&amp;pk_kwd=footerLink" title="chsmedien - Digital Marketing Agency &amp; MODX Professional Partner" target="_blank">chsmedien</a>
            </p>
            <p><small>Work on documentation – <a href="http://klimchuk.com" target="_blank">Ivan Klimchuk</a>.</small></p>
        </div>
    </div>
</footer>
