<footer>
    <div class="row">
        <div class="large-8 medium-12 columns">
            <p>
                <strong>© 2013 - 2015 modmore</strong>, a brand by <a href="https://www.markhamstra.com/" title="Mark Hamstra Web Development">Mark Hamstra</a> 
                • Designed by <a href="http://chsmedien.com/?pk_campaign=modmore&amp;pk_kwd=footerLink" title="chsmedien - Digital Marketing Agency &amp; MODX Professional Partner" target="_blank">chsmedien</a>
            </p>
            <p>
                <small>Work on original documentation – <a href="http://modmore.com" target="_blank"><strong>Mark Hamstra</strong></a>,</small>
                <small>Work on site – <a href="http://klimchuk.com" target="_blank"><strong>Ivan Klimchuk</strong></a></small>, 
                <small>Перевод на русский – <a href="http://klimchuk.by" target="_blank"><strong>Иван Климчук</strong></a>.</small> 
            </p>
        </div>
    </div>
</footer>

<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter31392498 = new Ya.Metrika({ id:31392498, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/31392498" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
