<header class="siteheader blueending">
    <div class="row">
        <h1 class="large-5 medium-12 columns">
            <a href="{{ site.baseurl }}/" class="logo">
                <span>{{ site.title }}</span>
                {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
            </a>
        </h1>
        <nav class="large-7 medium-12 columns">
            <ul>
                <li class="last"><a href="/ru/" title="На русском">На русском</a></li>
                <li class="first"><a href="https://github.com/modmore/Gitify" title="View on GitHub">View on GitHub</a></li>
                <li class="last"><a href="https://modmore.com" title="modmore">modmore {+}</a></li>
            </ul>
        </nav>
    </div>
</header>